---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gallery" description="毎年撮影している桜の写真です。場所はまちまちです。" image="/assets/img/ogp/mv.jpg">
  <main slot="body">
    <section class="top__gallery" id="gallery">
      <h2 class="modTitle gallery">Gallery..</h2>
      <p class="modSubTitle">毎年撮影している桜の写真です。場所はまちまちです。<br>使用カメラ：CanonEOSkissX7</p>
      <ul class="sort-btn">
        <li class="sort00 active galleryCtg">All</li>
        <li class="sort01 galleryCtg">昼桜</li>
        <li class="sort02 galleryCtg">夜桜</li>
        <li class="sort03 galleryCtg">河津桜</li>
      </ul>

      <ul class="grid">
        <!-- 昼桜 -->
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura01.jpg" width="390" height="260" alt="昼桜">
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura02.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura03.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura04.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura05.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura06.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura07.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura08.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura09.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura10.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura11.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura12.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura13.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura14.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura15.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura16.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura17.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura18.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura19.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura20.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura21.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura22.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <li class="item sort01">
          <figure class="item-content">
            <img src="/assets/img/gallery/daytime/d-sakura23.jpg" width="390" height="260" alt="昼桜" />
          </figure>
        </li>
        <!-- / 昼桜 -->

        <!-- 夜桜 -->
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura01.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura02.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura03.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura04.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura05.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura06.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura07.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura08.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura09.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura10.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura11.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura12.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura13.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura14.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura15.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura16.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura17.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura18.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura19.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura20.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <li class="item sort02">
          <figure class="item-content">
            <img src="/assets/img/gallery/night/n-sakura21.jpg" width="390" height="260" alt="夜桜" />
          </figure>
        </li>
        <!-- / 夜桜 -->

        <!-- 河津桜 -->
        <li class="item sort03">
          <figure class="item-content">
            <img src="/assets/img/gallery/kawazu/k-sakura01.jpg" width="390" height="260" alt="河津桜" />
          </figure>
        </li>
        <!-- / 河津桜 -->
      </ul>
    </section>
  </main>
</Layout>
