---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TOP" description="" image="/assets/img/ogp/mv.jpg">
  <main slot="body">
    <div class="top">
      <progress class="scrollBar" max="100" value=""></progress>
      <div class="top__mainLogo">
        <figure class="cLogo js-cLogo">
          <img class="mask" src="/assets/img/top/sakura01.jpg" alt="夜桜" />
        </figure>
        <svg width="398" height="443" viewBox="0 0 398 443" fill="none" xmlns="http://www.w3.org/2000/svg" class="lg-only">
          <clipPath id="svgPath">
            <path d="M386.269 324.922C392.973 332.18 396.324 340.555 396.324 350.045C396.324 358.978 393.531 366.236 387.945 371.818C367.277 394.15 342.699 411.736 314.211 424.577C285.722 436.859 256.396 443 226.232 443C190.481 443 158.641 436.859 130.712 424.577C102.782 411.736 79.0414 394.708 59.4905 373.493C39.9396 351.72 25.1368 327.714 15.0821 301.474C5.02737 275.235 0 248.716 0 221.919C0 180.606 9.21685 143.2 27.6505 109.703C46.6428 76.2061 72.3382 49.6875 104.737 30.1475C137.135 10.0492 174.003 0 215.339 0C280.695 0 331.806 22.3315 368.674 66.9944C376.494 75.9269 383.197 86.2552 388.783 97.9792C394.928 109.145 398 120.311 398 131.476C398 142.084 395.766 151.016 391.297 158.274C387.387 165.532 381.801 171.394 374.539 175.86C367.277 180.326 358.898 182.56 349.402 182.56C335.996 182.56 324.545 177.814 315.048 168.323C306.111 158.274 301.642 146.55 301.642 133.151C301.642 128.127 302.48 123.381 304.156 118.915C306.39 113.89 308.625 109.703 310.859 106.354C313.652 102.446 313.652 98.8167 310.859 95.4669C300.804 82.6264 287.398 73.1355 270.64 66.9944C253.882 60.8532 235.448 57.7826 215.339 57.7826C185.175 57.7826 158.641 65.0403 135.739 79.5558C112.837 94.0712 94.9614 113.611 82.1137 138.176C69.266 162.74 62.8421 190.655 62.8421 221.919C62.8421 250.95 69.5453 277.747 82.9516 302.312C96.9165 326.318 115.909 345.858 139.928 360.932C163.948 375.447 191.878 382.705 223.718 382.705C248.296 382.705 270.919 377.401 291.587 366.794C312.255 356.187 330.41 342.508 346.051 325.76C352.195 319.619 359.178 316.548 366.998 316.548C374.818 316.548 381.242 319.34 386.269 324.922Z" fill="black"></path>
          </clipPath>
          <rect x="0" y="0" width="100%" height="100%" clip-path="(#svgPath)"></rect>
        </svg>

        <svg width="315" height="351" viewBox="0 0 315 351" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-only">
          <clipPath id="svgPathSp">
            <path d="M305.716 257.444C311.021 263.195 313.674 269.83 313.674 277.35C313.674 284.427 311.463 290.178 307.042 294.601C290.684 312.295 271.232 326.229 248.684 336.403C226.137 346.134 202.926 351 179.053 351C150.758 351 125.558 346.134 103.453 336.403C81.3474 326.229 62.5579 312.737 47.0842 295.928C31.6105 278.677 19.8947 259.656 11.9368 238.866C3.97895 218.076 0 197.064 0 175.832C0 143.098 7.29474 113.461 21.8842 86.9206C36.9158 60.38 57.2526 39.3686 82.8947 23.8866C108.537 7.9622 137.716 0 170.432 0C222.158 0 262.611 17.6938 291.789 53.0813C297.979 60.1588 303.284 68.3422 307.705 77.6314C312.568 86.4783 315 95.3251 315 104.172C315 112.577 313.232 119.654 309.695 125.405C306.6 131.155 302.179 135.8 296.432 139.338C290.684 142.877 284.053 144.647 276.537 144.647C265.926 144.647 256.863 140.887 249.347 133.367C242.274 125.405 238.737 116.115 238.737 105.499C238.737 101.518 239.4 97.758 240.726 94.2193C242.495 90.2382 244.263 86.9206 246.032 84.2666C248.242 81.1701 248.242 78.2949 246.032 75.6408C238.074 65.4669 227.463 57.9471 214.2 53.0813C200.937 48.2155 186.347 45.7826 170.432 45.7826C146.558 45.7826 125.558 51.5331 107.432 63.034C89.3053 74.535 75.1579 90.017 64.9895 109.48C54.8211 128.943 49.7368 151.061 49.7368 175.832C49.7368 198.834 55.0421 220.066 65.6526 239.529C76.7053 258.55 91.7368 274.032 110.747 285.975C129.758 297.476 151.863 303.227 177.063 303.227C196.516 303.227 214.421 299.025 230.779 290.62C247.137 282.215 261.505 271.378 273.884 258.108C278.747 253.242 284.274 250.809 290.463 250.809C296.653 250.809 301.737 253.021 305.716 257.444Z" fill="black"></path>
          </clipPath>
          <rect x="0" y="0" width="100%" height="100%" clip-path="(#svgPathSp)"></rect>
        </svg>
        <h1 class="top__mainLogo__title" id="ttl">Chis<span>a</span>'s <br /><span>P</span>ortfolio</h1>

        <div class="top__mainLogo__menu">
          <a href="#about" class="top__mainLogo__menu--txt">About</a>
          <a href="#works" class="top__mainLogo__menu--txt">Works</a>
          <a href="#gallery" class="top__mainLogo__menu--txt">Gallery</a>
          <a href="#contact" class="top__mainLogo__menu--txt">Contact</a>
        </div>
        <div class="scroll">
          <span class="text poppins">scroll</span>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>

      <div class="top__sakura">
        <figure class="sakura m01">
          <img src="/assets/img/common/hanabira01.svg" alt="桜のはなびら" />
        </figure>
        <figure class="sakura m02">
          <img src="/assets/img/common/hanabira02.svg" alt="桜のはなびら" />
        </figure>
        <figure class="sakura m03">
          <img src="/assets/img/common/hanabira03.svg" alt="桜のはなびら" />
        </figure>
        <figure class="sakura m04">
          <img src="/assets/img/common/hanabira02.svg" alt="桜のはなびら" />
        </figure>
        <figure class="sakura m05">
          <img src="/assets/img/common/hanabira01.svg" alt="桜のはなびら" />
        </figure>
        <figure class="sakura m06">
          <img src="/assets/img/common/hanabira03.svg" alt="桜のはなびら" />
        </figure>
        <figure class="sakura m07">
          <img src="/assets/img/common/hanabira02.svg" alt="桜のはなびら" />
        </figure>
        <figure class="sakura m08">
          <img src="/assets/img/common/hanabira03.svg" alt="桜のはなびら" />
        </figure>
        <figure class="sakura m09">
          <img src="/assets/img/common/hanabira02.svg" alt="桜のはなびら" />
        </figure>
        <figure class="sakura m10">
          <img src="/assets/img/common/hanabira03.svg" alt="桜のはなびら" />
        </figure>
      </div>
    </div>

    <section class="top__about" id="about">
      <div class="top__aboutBox">
        <div class="top__aboutBox__profile01">
          <h2 class="modTitle about">About..</h2>
          <div class="top__aboutBox__profile01--txt">
            <p class="top__aboutBox__profile01--txt01">
              <span class="small poppins">Name</span> : 伊藤 千紗（<span class="poppins">Chisa Ito</span>）<br />
              <span class="small poppins">Job role</span> :フロントエンドエンジニア
            </p>
          </div>
          <figure class="top__aboutBox__profile01--img">
            <img src="/assets/img/top/selfie.jpg" width="346" height="430" alt="" />
          </figure>
        </div>
        <div class="top__aboutBox__profile02">
          <p class="top__aboutBox__profile02--ttl">
            <span class="num poppins">01</span> . Profile <span class="sub noto"><span class="white">自</span>己紹介</span>
          </p>
          <p class="top__aboutBox__profile02--txt01">
            1996/02/04うまれ(28)、みずがめ座、埼玉出身。<br />
            親の仕事の都合で埼玉→タイ→東京と転々。趣味は競馬を細々と、あとは旅行しながら一眼で撮影するのが好きです。<br />
            WordPressの組み込みやGSAPを用いたアニメーション制作、ECサイトの開発保守などをやっています。<br />
          </p>
          <p class="top__aboutBox__profile02--ttl">
            <span class="num poppins">02</span> . Career <span class="sub noto"><span class="white">経</span>歴</span>
          </p>
          <p class="top__aboutBox__profile02--txt01">
            <span class="indent04">2018年~ 共立女子大学家政学部建築デザイン学科デザインコース(グラフィック専攻)卒業</span>
            <span class="indent04">2018年~ SES企業にてITを学ぶ、現場ではMySQLを学ぶ</span>
            <span class="indent04">2019年~ Web受託会社にてフロントエンドエンジニアとしてECを中心とした Web制作・開発に携わる</span>
            <span class="indent04">2023年~ 現在。別のWeb受託会社へ、アニメーションを中心としたWeb制作に携わる</span>
          </p>
          <p class="top__aboutBox__profile02--ttl">
            <span class="num poppins">03</span> . Skills <span class="sub noto">技<span class="white">術</span></span>
          </p>
          <p class="top__aboutBox__profile02--txt01 poppins"><span class="sk">Tools</span></p>
          <p class="top__aboutBox__profile02--txt02 poppins"><span class="indent01">・VSCode / Github / Docker / iterm2 / Photoshop / Illustrator / XD / Figma</span></p>
          <p class="top__aboutBox__profile02--txt01 poppins"><span class="sk">Languages</span></p>
          <p class="top__aboutBox__profile02--txt02 poppins"><span class="indent01">・HTML5 / CSS(sass) / PHP / JavaScript / TypeScript / MySQL</span></p>
          <p class="top__aboutBox__profile02--txt01 poppins"><span class="sk">Library・Framework・CMS・etc</span></p>
          <p class="top__aboutBox__profile02--txt02 poppins"><span class="indent01">・gulp / webpack / ejs / Astro / Vue.js / Node.js / npm script / Babel / jQuery / GSAP / Swiper.js / lenis / WordPress / EC-CUBE /Smarty / Twig</span></p>
          <p class="top__aboutBox__profile02--ttl">
            <span class="num poppins">04</span> . Favorite <span class="sub noto">すき<span class="white">な</span>もの</span>
          </p>
          <p class="top__aboutBox__profile02--txt01">
            辛いもの、高いチョコ、パズルゲーム、毛の生えた動物、桜<br />
            好きなライブラリ：jQuery
          </p>
          <a href="/about" class="modBtn"><span class="allow">more</span></a>
        </div>
      </div>
    </section>

    <section class="top__works" id="works">
      <h2 class="modTitle works">Works..</h2>
      <p class="modSubTitle">個人で請け負って制作したものです。</p>
      <ul class="top__worksList">
        <li>
          <a href="https://mjo-style.com/" target="_blank">
            <figure class="top__worksList--img">
              <img class="js-parallax lg-only" src="/assets/img/top/works01.jpg" width="1200" height="300" alt="株式会社mjo" />
              <img class="js-parallax sm-only" src="/assets/img/top/sp/works01.jpg" width="742" height="587" alt="株式会社mjo" />
            </figure>
          </a>
          <p class="top__worksList--txt">
            株式会社mjo<br />
            コーディング実装対応
          </p>
        </li>
        <li>
          <a href="https://www.matsumicorp.com/" target="_blank">
            <figure class="top__worksList--img">
              <img class="js-parallax lg-only" src="/assets/img/top/works02.jpg" width="1200" height="300" alt="松美商事株式会社" />
              <img class="js-parallax sm-only" src="/assets/img/top/sp/works02.jpg" width="1014" height="628" alt="松美商事株式会社" />
            </figure>
          </a>
          <p class="top__worksList--txt">
            松美商事株式会社<br />
            コーディング実装対応
          </p>
        </li>
      </ul>
      <a href="/works" class="modBtn"><span class="allow">more</span></a>
    </section>

    <section class="top__gallery" id="gallery">
      <figure class="top__gallery--sakura">
        <img src="/assets/img/common/hanabira01.svg" alt="桜のはなびら" />
      </figure>
      <h2 class="modTitle gallery">Gallery..</h2>
      <p class="modSubTitle">毎年撮影している桜の写真です。場所はまちまちです。</p>
      <ul class="top__galleryList">
        <li class="top__galleryList__item">
          <a href="">
            <figure class="top__galleryList--img">
              <img src="/assets/img/top/s01.jpg" width="390" height="260" alt="桜の写真" />
            </figure>
          </a>
        </li>
        <li class="top__galleryList__item">
          <a href="">
            <figure class="top__galleryList--img">
              <img src="/assets/img/top/s02.jpg" width="390" height="260" alt="桜の写真" />
            </figure>
          </a>
        </li>
        <li class="top__galleryList__item">
          <a href="">
            <figure class="top__galleryList--img">
              <img src="/assets/img/top/s03.jpg" width="390" height="260" alt="桜の写真" />
            </figure>
          </a>
        </li>
        <li class="top__galleryList__item">
          <a href="">
            <figure class="top__galleryList--img">
              <img src="/assets/img/top/s04.jpg" width="390" height="260" alt="桜の写真" />
            </figure>
          </a>
        </li>
        <li class="top__galleryList__item">
          <a href="">
            <figure class="top__galleryList--img">
              <img src="/assets/img/top/s05.jpg" width="390" height="260" alt="桜の写真" />
            </figure>
          </a>
        </li>
        <li class="top__galleryList__item">
          <a href="">
            <figure class="top__galleryList--img">
              <img src="/assets/img/top/s06.jpg" width="390" height="260" alt="桜の写真" />
            </figure>
          </a>
        </li>
        <li class="top__galleryList__item">
          <a href="">
            <figure class="top__galleryList--img">
              <img src="/assets/img/top/s07.jpg" width="390" height="260" alt="桜の写真" />
            </figure>
          </a>
        </li>
        <li class="top__galleryList__item">
          <a href="">
            <figure class="top__galleryList--img">
              <img src="/assets/img/top/s08.jpg" width="390" height="260" alt="桜の写真" />
            </figure>
          </a>
        </li>
        <li class="top__galleryList__item">
          <a href="">
            <figure class="top__galleryList--img">
              <img src="/assets/img/top/s09.jpg" width="390" height="260" alt="桜の写真" />
            </figure>
          </a>
        </li>
      </ul>
      <a href="/gallery" class="modBtn"><span class="allow">more</span></a>
    </section>

    <section class="top__contact" id="contact">
      <div class="top__contactBg">
        <h2 class="modTitle contact">Contact..</h2>
        <div class="top__contactBox">
          <p class="top__contactBox__txt">お名前</p>
          <input type="text" name="name" value="" class="" />
          <p class="top__contactBox__txt">メールアドレス</p>
          <input type="email" name="mail" value="" class="" />
          <p class="top__contactBox__txt">件名</p>
          <input type="text" name="title" value="" class="" />
          <p class="top__contactBox__txt">内容</p>
          <textarea name="contents" cols="40" rows="10"></textarea>
        </div>
        <a href="" class="modSubBtn">submit</a>
      </div>
    </section>
  </main>
</Layout>
