<footer class="footer">
  <div class="footer__contents">
    <div class="footer__logo">
      <a href="/">
        <figure class="cLogo">
          <img src="/assets/img/common/clogo.svg" alt="" />
        </figure>
      </a>
      <p class="footer__logo--txt">Chisa's Portfolio</p>
    </div>

    <div class="footer__nav">
      <nav class="footer__navList">
        <ul class="footer__navList__list">
          <li class="">
            <a href="/about">About</a>
          </li>
          <li class="">
            <a href="/works">Works</a>
          </li>
          <li class="">
            <a href="/gallery">Gallery</a>
          </li>
          <li class="">
            <a href="/blog">Blog</a>
          </li>
          <li class="">
            <a href="/#contact">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="footer__navLink">
        <div class="footer__navLinkSns">
          <a href="https://www.instagram.com/02_chiii" target="_blank"><img src="/assets/img/common/instagram.svg" width="30" height="30" alt="Instagram" /></a>
          <a href="" target="_blank"><img src="/assets/img/common/note.svg" width="35" height="35" alt="note" /></a>
        </div>
      </div>
    </div>
  </div>
  <small class="copyright poppins">©2024 Chisa Ito Portfolio. All Rights Reserved.</small>
</footer>
