<header class="header js-header">
  <div class="header__content">
    <div class="header__logo">
      <a href="/">
        <figure class="cLogo">
          <img src="/assets/img/common/clogo.svg" alt="" width="" height=""/>
        </figure>
      </a>
    </div>
    <nav id="controls" class="header__nav lg-only">
      <!-- <div class="header__nav__list">
        <div class="header__nav__item">
          <a href="/about">About</a>
        </div>
        <div class="header__nav__item">
          <a href="/works">Works</a>
        </div>
        <div class="header__nav__item">
          <a href="/gallery">Gallery</a>
        </div>
        <div class="header__nav__item">
          <a href="/blog">Blog</a>
        </div>
        <div class="header__nav__item">
          <a href="/contact">Contact</a>
        </div>
      </div> -->
    </nav>
    <div class="header__spMenuBtn">
      <div class="header__spMenuBtn--box">
        <span class="header__spMenuBtn--bar"></span>
        <span class="header__spMenuBtn--bar"></span>
      </div>
    </div>
    <div class="header__spSideMenu">
      <figure class="cLogo">
        <img src="/assets/img/common/c-wh.svg" alt="c" />
      </figure>
      <ul class="header__spSideMenu__list">
        <li class="header__spSideMenu__item">
          <a href="/">Home</a>
        </li>
        <li class="header__spSideMenu__item">
          <a href="/about">About</a>
        </li>
        <li class="header__spSideMenu__item">
          <a href="/works">Works</a>
        </li>
        <li class="header__spSideMenu__item">
          <a href="/gallery">Gallery</a>
        </li>
        <li class="header__spSideMenu__item">
          <a href="/blog">Blog</a>
        </li>
        <li class="header__spSideMenu__item">
          <a href="/#contact">Contact</a>
        </li>
      </ul>
      <div class="header__spSideMenu__sns">
        <a href="" target="_blank"><img src="/assets/img/common/instagram.svg" alt="Instagram" /></a>
        <a href="" target="_blank"><img src="/assets/img/common/note.svg" alt="note" /></a>
      </div>
    </div>
  </div>
</header>
